@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prata', serif,"細明體_HKSCS";
    color: aliceblue;
}
button.music{
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 3vw;
    border: none;
    background-color: transparent;
    font-weight: 600;
    z-index: 1;
    user-select: none;
    cursor:pointer;
}
main{
    position: relative;
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
   
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        z-index: -1;
        background-size: cover;
        background-position: bottom;
        background-image: url(./assets/night.jpg);
        animation: blur 60s infinite linear alternate,
        fadein 3s linear forwards,
        bgmove 60s infinite linear alternate
        ;
    }
    & button{
        background-color: transparent;
        border: 3px solid aliceblue;
        border-radius: 100vmax;
        padding: 0.5vmax;
        font-size: 2.5vw;
        user-select: none;
        cursor: pointer;
        filter: blur(1px);
        transition: 1s;
        &:hover{
            filter: blur(0px);
            background-color: rgba(240, 248, 255, 0.13);
        }
    }
    & .star-sign-card{
        display: flex;
        flex-direction: column;
        align-items:center;
        opacity: 0;
        scale: 0;
        /*border: 2px solid aliceblue;
        box-shadow: 1px 1px 3px 3px aliceblue;*/
        border-radius: 1vmax;
        position: absolute;
        left: 24vw;
        width: 18ch;
        transform-origin: 26vw;
        transition: 1s;
        height: 15vh;
        padding: 0.5vmax;
        user-select: none;
        & p{
            font-size: 1ch;
            & span{
                font-size: 2ch;
                font-weight: 600;
            }
        }
        
    }
    & .star-sign-card.active{
        opacity: 1;
        scale: 1;
    }
}
@keyframes blur {
    0%,100%{
        filter: blur(0px);
    }
    50%{
        filter: blur(2px);
    }
}
@keyframes fadein {
    to{ opacity: 1;}
}
@keyframes bgmove {
    to{ background-position: top;}
}
@for $i from 1 through 12 {
    .star-sign-card:nth-of-type(#{$i}) { transform: rotate(calc(360deg/12 *  $i  )); 
    transition-delay: calc(0.5s * $i);
    }
    .star-sign-card:nth-of-type(#{$i}) p { transform: rotate(calc(-360deg/12 *  $i  )); }
  }