@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Prata", serif, "細明體_HKSCS";
  color: aliceblue;
  scroll-behavior: smooth;
}

@media screen and (width >= 1920px) {
  button.music {
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 5vw;
    border: none;
    background-color: transparent;
    font-weight: 600;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  main {
    position: relative;
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
  }
  main::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
    background-size: cover;
    background-position: bottom;
    background-image: url(./assets/night.jpg);
    -webkit-animation: blur 60s infinite linear alternate, fadein 3s linear forwards, bgmove 60s infinite linear alternate;
            animation: blur 60s infinite linear alternate, fadein 3s linear forwards, bgmove 60s infinite linear alternate;
  }
  main button {
    background-color: transparent;
    border: 3px solid aliceblue;
    border-radius: 100vmax;
    padding: 0.5vmax;
    font-size: 2.5vw;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    filter: blur(1px);
    transition: 1s;
  }
  main button:hover {
    filter: blur(0px);
    background-color: rgba(240, 248, 255, 0.13);
  }
  main .star-sign-card {
    margin: 1vmax;
    opacity: 0;
    scale: 0;
    /*border: 2px solid aliceblue;
    box-shadow: 1px 1px 3px 3px aliceblue;*/
    position: absolute;
    left: 23vw;
    width: 11vw;
    transform-origin: 27vw;
    transition: 1s;
    height: 10vh;
    padding: 1vmax;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  main .star-sign-card p {
    font-size: 0.5vw;
  }
  main .star-sign-card p span {
    font-size: 1vw;
    font-weight: 600;
  }
  main .star-sign-card.active {
    opacity: 1;
    scale: 1;
  }
  main .top-link {
    display: none;
  }
  .star-sign-card:nth-of-type(1) {
    transform: rotate(30deg);
    transition-delay: 0.5s;
  }
  .star-sign-card:nth-of-type(1) p {
    transform: rotate(-30deg);
  }
  .star-sign-card:nth-of-type(2) {
    transform: rotate(60deg);
    transition-delay: 1s;
  }
  .star-sign-card:nth-of-type(2) p {
    transform: rotate(-60deg);
  }
  .star-sign-card:nth-of-type(3) {
    transform: rotate(90deg);
    transition-delay: 1.5s;
  }
  .star-sign-card:nth-of-type(3) p {
    transform: rotate(-90deg);
  }
  .star-sign-card:nth-of-type(4) {
    transform: rotate(120deg);
    transition-delay: 2s;
  }
  .star-sign-card:nth-of-type(4) p {
    transform: rotate(-120deg);
  }
  .star-sign-card:nth-of-type(5) {
    transform: rotate(150deg);
    transition-delay: 2.5s;
  }
  .star-sign-card:nth-of-type(5) p {
    transform: rotate(-150deg);
  }
  .star-sign-card:nth-of-type(6) {
    transform: rotate(180deg);
    transition-delay: 3s;
  }
  .star-sign-card:nth-of-type(6) p {
    transform: rotate(-180deg);
  }
  .star-sign-card:nth-of-type(7) {
    transform: rotate(210deg);
    transition-delay: 3.5s;
  }
  .star-sign-card:nth-of-type(7) p {
    transform: rotate(-210deg);
  }
  .star-sign-card:nth-of-type(8) {
    transform: rotate(240deg);
    transition-delay: 4s;
  }
  .star-sign-card:nth-of-type(8) p {
    transform: rotate(-240deg);
  }
  .star-sign-card:nth-of-type(9) {
    transform: rotate(270deg);
    transition-delay: 4.5s;
  }
  .star-sign-card:nth-of-type(9) p {
    transform: rotate(-270deg);
  }
  .star-sign-card:nth-of-type(10) {
    transform: rotate(300deg);
    transition-delay: 5s;
  }
  .star-sign-card:nth-of-type(10) p {
    transform: rotate(-300deg);
  }
  .star-sign-card:nth-of-type(11) {
    transform: rotate(330deg);
    transition-delay: 5.5s;
  }
  .star-sign-card:nth-of-type(11) p {
    transform: rotate(-330deg);
  }
  .star-sign-card:nth-of-type(12) {
    transform: rotate(360deg);
    transition-delay: 6s;
  }
  .star-sign-card:nth-of-type(12) p {
    transform: rotate(-360deg);
  }
}
@media screen and (640px < width < 1920px) {
  main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    opacity: 0;
    background-image: url(./assets/night.jpg);
    -webkit-animation: fadein 3s linear forwards;
            animation: fadein 3s linear forwards;
  }
  main button.music {
    font-size: 5vw;
    border: none;
    background-color: transparent;
    font-weight: 600;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    margin: 0.5vmax;
  }
  main button {
    margin: 0.5vmax;
    font-size: 5vw;
    background-color: transparent;
    border: 3px solid aliceblue;
    border-radius: 1vmax;
    padding: 0.1vmax;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    filter: blur(1px);
    transition: 1s;
  }
  main button:hover {
    filter: blur(0px);
    background-color: rgba(240, 248, 255, 0.13);
  }
  main .star-sign-card {
    margin: 3vmax;
    opacity: 0;
    scale: 0;
    width: 20vw;
    transition: 1s;
    height: 20vh;
    padding: 1vmax;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  main .star-sign-card p {
    font-size: 1vw;
  }
  main .star-sign-card p span {
    font-size: 2vw;
    font-weight: 600;
  }
  main .star-sign-card.active {
    opacity: 1;
    scale: 1;
  }
  main .top-link {
    display: none;
  }
  .star-sign-card:nth-of-type(1) {
    transition-delay: 0.5s;
  }
  .star-sign-card:nth-of-type(2) {
    transition-delay: 1s;
  }
  .star-sign-card:nth-of-type(3) {
    transition-delay: 1.5s;
  }
  .star-sign-card:nth-of-type(4) {
    transition-delay: 2s;
  }
  .star-sign-card:nth-of-type(5) {
    transition-delay: 2.5s;
  }
  .star-sign-card:nth-of-type(6) {
    transition-delay: 3s;
  }
  .star-sign-card:nth-of-type(7) {
    transition-delay: 3.5s;
  }
  .star-sign-card:nth-of-type(8) {
    transition-delay: 4s;
  }
  .star-sign-card:nth-of-type(9) {
    transition-delay: 4.5s;
  }
  .star-sign-card:nth-of-type(10) {
    transition-delay: 5s;
  }
  .star-sign-card:nth-of-type(11) {
    transition-delay: 5.5s;
  }
  .star-sign-card:nth-of-type(12) {
    transition-delay: 6s;
  }
}
@media screen and (width <= 640px) {
  main {
    width: 100vw;
    min-height: 100vh;
    background-image: url(./assets/swing-night.png);
    -webkit-animation: fadein 3s linear forwards;
            animation: fadein 3s linear forwards;
    opacity: 0;
  }
  main button.music {
    margin: 1vmax;
    display: block;
    font-size: 8vw;
    background-color: transparent;
    border: none;
    border-block-end-color: aliceblue;
    border-block-end-style: solid;
    border-block-end-width: 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-animation: Btn 10s linear alternate infinite;
            animation: Btn 10s linear alternate infinite;
  }
  main button {
    margin: 1vmax;
    font-size: 6vw;
    background-color: transparent;
    border: none;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-animation: Btn 10s linear alternate infinite;
            animation: Btn 10s linear alternate infinite;
  }
  main .star-sign-card {
    position: static;
    width: 100%;
    opacity: 0;
    scale: 0;
    transition: 1s;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0.5vmax;
    padding: 2vmax;
  }
  main .star-sign-card p {
    font-size: 5vw;
  }
  main .star-sign-card p span {
    font-size: 8vw;
  }
  main .star-sign-card.active {
    opacity: 1;
    scale: 1;
  }
  main .top-link {
    position: relative;
    left: 85vw;
    bottom: 2vh;
    margin: 1vmax;
    font-size: 6vw;
    background-color: transparent;
    border: none;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    -webkit-text-decoration-style: wavy;
            text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-animation: Btn 10s linear alternate infinite;
            animation: Btn 10s linear alternate infinite;
  }
  .star-sign-card:nth-of-type(1) {
    transition-delay: 0.5s;
  }
  .star-sign-card:nth-of-type(2) {
    transition-delay: 1s;
  }
  .star-sign-card:nth-of-type(3) {
    transition-delay: 1.5s;
  }
  .star-sign-card:nth-of-type(4) {
    transition-delay: 2s;
  }
  .star-sign-card:nth-of-type(5) {
    transition-delay: 2.5s;
  }
  .star-sign-card:nth-of-type(6) {
    transition-delay: 3s;
  }
  .star-sign-card:nth-of-type(7) {
    transition-delay: 3.5s;
  }
  .star-sign-card:nth-of-type(8) {
    transition-delay: 4s;
  }
  .star-sign-card:nth-of-type(9) {
    transition-delay: 4.5s;
  }
  .star-sign-card:nth-of-type(10) {
    transition-delay: 5s;
  }
  .star-sign-card:nth-of-type(11) {
    transition-delay: 5.5s;
  }
  .star-sign-card:nth-of-type(12) {
    transition-delay: 6s;
  }
}
@-webkit-keyframes blur {
  0%, 100% {
    filter: blur(0px);
  }
  50% {
    filter: blur(2px);
  }
}
@keyframes blur {
  0%, 100% {
    filter: blur(0px);
  }
  50% {
    filter: blur(2px);
  }
}
@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes bgmove {
  to {
    background-position: top;
  }
}
@keyframes bgmove {
  to {
    background-position: top;
  }
}
@-webkit-keyframes Btn {
  0%, 100% {
    filter: blur(1px);
    scale: 1;
    translate: 0vw;
  }
  50% {
    filter: blur(0px);
    scale: 1.1;
    translate: 1vw;
  }
}
@keyframes Btn {
  0%, 100% {
    filter: blur(1px);
    scale: 1;
    translate: 0vw;
  }
  50% {
    filter: blur(0px);
    scale: 1.1;
    translate: 1vw;
  }
}/*# sourceMappingURL=style.css.map */